@import url("../../common.css");
.button {
  padding: 0.75rem;
  min-width: 22rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.primary {
  background-color: var(--light-blue-background);
  border: none;
  color: var(--white-background);
  transition: background-color 0.2s ease-in-out;
}

.default {
  background-color: var(--light-gray-background);
  color: white;
}

.light {
  color: var(--light-blue-background);
  font-weight: bold;
}

.primary:hover {
  background-color: var(--blue-background);
  cursor: pointer;
}
