@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --light-gray-color: #d3d3d3;
  --light-gray-background: #eeeeee;
  --mid-light-gray-background: #e0e0e0;
  --gray-text-color: #707070;
  --black-text-color: #141313;
  --red-error-background: #f8eded;
  --green-color: #4ac26b66;
  --red-error: #ff818266;
  --white-background: #ffffff;
  --blue-background: #2b6ee1;
  --light-blue-background: #7ba7f4;
  --white-blue-background: #dbe5f5;
  --light-green-background: #dafbe1;
  --orange-color: #f0971d;
}
